* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.title-container {
	color: #fff;
	background-color: #5995DA;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tit {
	border: 1px solid #cecece;
	width: 900px;
	text-align: center;
	font-size: 22px;
	color: bisque;
}

.recipes-container {
	display: flex;
	border: 2px solid rgb(0, 255, 64);
	margin: 0;
	padding: 20px;
	background-color: rgb(235, 168, 201);
	justify-content: center;
	align-items: space-between;
}

.ranch img {
	width: 200px;
}

.ranch {
	display: grid;
	margin: 0;
	padding: 10px;
	border: 1 solid green;
}
.recipes-items {
	display: flex;
	border: 1px solid rgb(0, 47, 255);
	text-align: center;
	align-items: between;
	width: auto;
}