* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.title-container {
	color: #fff;
	background-color: #5995DA;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tit {
	border: 1px solid #cecece;
	width: 900px;
	text-align: center;
	font-size: 22px;
	color: bisque;
}

.recipes-container {
	align-items: center;
	border: 5px solid #ffcc5c;
	display: flex;
	background-color: rgb(143, 182, 127);
	width: auto;
	justify-content: center;
	padding: 10px 500px;
}

.recipes-container > div {
	flex: 1;
	padding: 10px;
	text-align: center;
	font-size: 2em;
	color: #ffeead;
	background-color: rgb(199, 137, 199);
	margin: 5px;
}

.recipes-container img {
	flex: 1;
	max-width: 100%;
	height: auto;
}